<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<!-- 클래스 path(base-package)에 있는 클래스들을 스캔하여 @Component가 설정된 클래스들을 자동으로 객체 생성한다. -->
	<!-- @Component 어노테이션이 붙은 클래스들을 일일이 <bean> 엘리먼트로 등록할 필요가 없다. -->
	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	
	<!-- AOP 관련 어노테이션들을 인식하고 용도에 맞게 처리 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- JdbcTemplate 객체가 사용할 DataSource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:tcp://localhost/~/test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<!-- JdbcTemplate 클래스 bean 등록 실습 -->
	 <!-- BoardDAOSpring 클래스 참고 -->
	 <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	 	<property name="dataSource" ref="dataSource" />
	 </bean>


</beans>
